
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #F5F8FF; 
}
.head{
    min-height: 100vh;
    width: 100%;
    background-image:url(../assests/Hero-bg.png);
    background-size: cover;
    position: relative;   
}
.nevbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
    background-color: transparent;
}

 /* Every Font */

.raleway_font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter_font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.logo{
    color:#4E47FF;
    font-size: 34px;
}
.btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    padding: 12px 36px;
    border: none;
    border-radius:10px;
}

.banner{
    text-align: center;
    max-width: 905px;
    margin: 150px auto 200px;
    
}
.banner_head{
    padding-bottom: 37px;
}
.banner_font{
    font-size:65px;
}
.action{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    margin: 80px auto;
}
.first_img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}
.normal{
    font-size:24px;;
    font-weight: 400;
    color:rgba(37, 36, 50, 0.5);
    padding-bottom: 23px;
}
.left_action{
    width: 517px;
    height: 203px;
    margin: auto;
}
.action_head{
    font-size: 42px;
    padding-bottom: 23px;

}
.productive{
    text-align: center;
    max-width: 1140px;
    max-height: 306px;
    padding: 60px 80px;
    margin: 100px auto;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 24px;
}
.big_data{
    color:#4E47FF;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 0px;
    margin-top: 40px;
    padding: 0px;
}
.small_data{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
}
.productive_div{
    display: flex;
    justify-content: space-around;
}
.hcent{
    text-align: center;
}
.imgtxt{
    display: flex;
}

/* newpage */
.hcent{
    text-align: center;
    margin: auto;
}
.imgcent{
    text-align: center;
    margin: 20px auto 70px;
    border-radius: 48px;
}
.border{
    border-radius: 48px;
}
.redy{
    width: 1140px;
    height: 696px;
    padding: 71px 150px;
    background-color: #FFFFFF;
    margin: auto;
}
.touch{
    display: flex;
    justify-content: space-between;
    height: 632px;
    width:1140px;
    margin: 70px auto;
    padding: 71px 0;
}

.let{
    font-size: 97px;
    font-weight: 700;
    width: 528px;
    height: 232px;
    margin: auto;
}
.form{
    width: 497px;
    height: 490px;
    font-family: inter;
    font-weight: 500px;
}
.form-row{
    width: 100%;
    height: 70px;
}
.form-msg{
    width: 100%;
    height: 135px;
}
.pad{
    padding: 20px 32px;
    border-radius: 10px;
    margin-top: 10px;
}
.last-btn{
    padding: 19px 101px;
    width: 497px;
}
.bottom{
    padding-bottom: 19px;
}
.foot{
    text-align: center;
    margin: 70px auto;
}
.foot-logo{
    font-size: 100px
}
.foot-p{
    width: 700px;
    margin: auto;
    padding-bottom: 20px;
}
ul{
    list-style: none;
}
ul a{
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}
.flo{
    display: flex;
    justify-content: space-between;
    width: 401px;
    margin: auto;
}

.mid-txt{
    padding: 24px 0;
}
.ag{
    height: 29px;
    width:221px;
}
.round{
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius:9999px; 
  padding-right:10px;
}
.line-pad{
    padding: 0;
}
.date{
    font-size: small;
}
.three-div{
    width: 366px;
    height: 243px;
    padding: 24px 24px;
    background-color: #FFFFFF;
    border-radius: 14px;;
}
.control-div{
    display: flex;
    justify-content: center;
    padding: 50px auto 10px;
    gap: 20px;
}
.final{
    padding: 10px 0;
    margin: 100px auto;
}
.btn:hover {
      background-color: #1317cf;
      transform: scale(1.05);
    }
